.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  background-color: rgba(255, 255, 255, 0.801);
}

.weather-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: rgba(255, 255, 255, 0.801);
  padding: 1rem;
}

.weather-result > * {
  position: relative;
  z-index: 2;
}

/* .weather-img {

  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: wheat;
  z-index: 0;
} */

.hidden {
  display: none;
}

.temperature {
  background-color: rgb(18, 57, 165);
  color: white;
  padding: 1rem;
  border-radius: 10px;
  font: 1.2rem bold;
  cursor: pointer;
}
